OPENAI_API_KEY = "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"
PINECONE_API_KEY = "pcsk_6V7NJT_9QVKwXw7Ry1gZUdhSNYE1MTZKuV8L7BnZDPiHQ6uUje8DY1AZQfy8yPEvkhrDgQ"
PINECONE_INDEX_NAME = "ices-database-assistant"
